

  <div class="field">
    <%= text_field_tag 'name', nil,class: 'form-control room_name' %>
  </div>

  <div class="actions mt-3">
    <%= link_to "Add room", nil,remote: true, class: 'btn btn-primary data-btn'%>
  </div>

